.story,
.previewStory {
  width: 50%;
  margin: 2% auto 5% auto;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.previewStory {
  width: 25%;
  margin: 1% 0 2% 0;
}

.story h2,
.previewStory h2 {
  font-weight: bolder;
  margin: 0;
}
.story h2 {
  font-size: 350%;
}
.previewStory h2 {
  font-size: 195%;
}
.story h3,
.previewStory h3 {
  margin-top: 1%;
}
.story h3 {
  font-size: 170%;
}
.previewStory h3 {
  font-size: 95%;
}

.story p {
  font-size: 130%;
}
.previewStory p {
  font-size: 100%;
}
.story .content,
.previewStory .content {
  text-align: left;
  padding: 0 2% 0 2%;
}
.story .media,
.previewStory .media {
  width: 100%;
}
.story .media {
  height: 80vh;
}
.previewStory .media {
  height: 40vh;
}
@media only screen and (max-width: 650px) {
  .story {
    margin-top: 5%;
    width: 90%;
  }
  .previewStory {
    margin-top: 4%;
    width: 60%;
  }
  .story .media {
    height: 40vh;
  }
  .previewStory .media {
    height: 25.7vh;
  }
  .story h2 {
    font-size: 180%;
  }
  .previewStory h2 {
    font-size: 150%;
  }

  .story h3 {
    font-size: 100%;
  }
  .previewStory h2 {
    font-size: 120%;
  }
  .previewStory h3 {
    font-size: 80%;
  }
  .story p {
    font-size: 80%;
  }
  .previewStory p {
    font-size: 60%;
  }
  .story .content,
  .previewStory .content {
    text-align: left;
    padding: 0 4% 0 4%;
  }
}
