.navigationButtons {
  font-family: 'ZCOOL XiaoWei', serif !important  ;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto auto 0.5% auto;
}

.navigationButtons button {
  background-color: rgba(128, 128, 128, 0.458);
}
.navigationButtons button:hover {
  background-color: rgba(128, 128, 128, 0.858);
}

.buttonCon {
  align-items: center;
  display: flex;
}
.buttonCon .buttonText {
  color: black;
  font-weight: bold;
  margin: 10px;
}
.navigationButtons button {
  width: 8vh;
  height: 8vh;
}
.navigationButtons svg {
  width: 80%;
  height: 80%;
}
@media only screen and (max-width: 650px) {
  .navigationButtons svg {
    width: 60%;
    height: 60%;
  }
  .navigationButtons {
    margin: 5% auto 7% auto;
    width: 95%;
  }
  .navigationButtons button {
    width: 7vh;
    height: 7vh;
  }
  .buttonCon .buttonText {
    margin: 12px;
    font-size: 70%;
  }
}
