section {
  margin: auto;
  text-align: center;
  background-color: transparent;
}
section p {
  font-size: 200%;
  font-weight: bolder;
}

button:focus {
  outline: none;
}

section:first-of-type {
  background-color: rgba(0, 0, 0, 0.065);
  text-align: center;
  padding: 0.25%;
  font-size: 70%;
  min-height: 4.5vh;
}
b {
  padding: 1.5%;
  font-size: 120%;
}
.formError {
  font-family: 'ZCOOL XiaoWei', serif !important  ;

  font-size: 140%;
  color: tomato;
  margin: 0;
}
@media only screen and (max-width: 650px) {
  section:last-of-type {
    padding-top: 2%;
  }
  section:first-of-type {
    min-height: 2vh;
    font-size: 40%;
  }
}
