section {
  margin: auto;
  text-align: center;
  background-color: transparent;
}
section p {
  font-size: 200%;
  font-weight: bolder;
}

button:focus {
  outline: none;
}

section:first-of-type {
  background-color: rgba(0, 0, 0, 0.065);
  text-align: center;
  padding: 0.25%;
  font-size: 70%;
}

@media only screen and (max-width: 650px) {
  section:first-of-type {
    font-size: 40%;
  }
}
