@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-family: 'ZCOOL XiaoWei', serif !important  ;
}

body {
  background-image: url('./wall_bg.jpg');
  background-size: 100%;
  background-color: rgba(112, 128, 144, 0.185);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #3f51b5;
}

h2 {
  font-size: 250%;
}

button {
  text-transform: none !important;
}

@media only screen and (max-width: 650px) {
  h2 {
    font-size: 150%;
  }
}
